<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Composition" version="15.6.36" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net471" />
  <package id="ReactiveUI" version="8.3.1" targetFramework="net471" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net471" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net471" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net471" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net471" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net471" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net471" />
  <package id="Splat" version="4.0.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Composition" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net471" />
</packages>